{% extends 'store/base.html'%}
{% load static %}
{% block title %} Store {% endblock title %}
{% block content %}
<h3>store</h3>
<br>
<div class="row">
  {% for product in products %}
	<div class="col-lg-4">
		<div class="card" style="width: 20rem;">
            <img class="card-img-top" src="{{product.imageURL}}" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">{{product.name}}</h4>
              <hr>
              <button data-product={{product.id}} data-action="add" class="btn btn-outline-default add-btn update-cart">Add to Cart</button>
		    <a class="btn btn-outline-success" href="#">View</a>
		    <h4 class = "float-right"><strong>₱{{product.price|floatformat:2}}</strong></h4>
            </div>
          </div>
    </div>
    
    {% endfor %}
    </div>
    
  
{% endblock content %}